.notice {
  padding: 5% 0 0% 4%;
}

.notice__text {
  font-family: asapRegular;
  color: #ffffff;
  font-size: 5.5vw;
}

.notice__text-orange {
  color: #F5C407;
  margin: 6% 0 6%;
}

@media screen and (max-width: 767px) {
  .notice {
    display: none;
  }
}
